<h2>Questions:</h2>
<hr>

  <% if @questions %>
    <% @questions.each do |question| %>
    <div class='well'>
      <p>
        <h3><%= link_to question.heading, user_question_path(question.user_id, question) %></h3><br>
        <em>Answers: <%= question.answers.length %></em>
      </p>
    </div>
    <% end %>
  <% end %>
</div>
